<!-- somehow I'm getting ghost record on at the end of loop -->
<% if !todo_item.nil? && !todo_item.id.blank? %>
<li class="list-group-item">
  <div class="row">
    <!-- mark as completed button / checkbox -->
    <div class="col-md-2">
      <%= link_to todo_todo_item_path(@todo, todo_item.id), method: :delete do%>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </div>
    <!-- todo-item text/title -->
    <div class="col-md-8">
      <%= todo_item.title %>
    </div>
    <!-- delete button -->
    <div class="col-md-2">
      <%= link_to complete_todo_todo_item_path(@todo, todo_item.id),
        method: :patch do%>
        <span class="glyphicon glyphicon-ok"></span>
      <% end %>
    </div>
  </div>
</li>
<% end %>
