<% if model_object.errors.any? %>
  <div id="err-msg-form">
    <h2>
      <%= pluralize(model_object.errors.count, "error") %> prohibited this task
      to be saved:
    </h2>
    <ul>
      <% model_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
